@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
}

:root {
     --cor-principal: #103061;     /* Azul Marinho Profundo */
    --cor-destaque: #4ee8c4;      /* Verde Água Brilhante */
    --cor-secundaria: #0f5cc8;    /* Azul Escuro */
    --cor-complementar: #3396ff;  /* Rosa Vibrante */
    --cor-fundo: #001F3F;         /* Azul Escuro Profundo */
    --cor-fonte: #fbfbfb;         /* Cinza Claro */
    
}


html{
    overflow: hidden;
}

body{
    background:var(--cor-fundo);
    overflow-x: hidden;
    position:relative;
    display: flex;
    flex-direction: column;
}

/*Barra de rolagem*/
body::-webkit-scrollbar{
    width: 15px;
    background:var(--cor-principal);
}

body::-webkit-scrollbar-thumb{
    width: 15px;
    background: var(--cor-secundaria);
    border-radius: 5px;
    border: 2px solid var(--cor-principal);
}

body::-webkit-scrollbar-thumb:hover {
    background:var(--cor-destaque);
}

.logo{
    display: block;
    border-radius: 10px;
    width: 100px;
}

/* CABECALHO TODO COMEÇA AQUI */
.cabecalho{
    min-height: 100px;
    width:100%;
    padding:10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:var(--cor-fundo);
    box-shadow: 5px -5px 11px 10px var(--cor-destaque);
}

/*Barra Pesquisa começa aqui*/
.barra-pesquisa{
    width: 400px;
    height: 54px;
    position:relative;
}

/*Barra pesquisa mobile*/
.barra-pesquisa-mobile{
    width: 0px;
    height: 54px;
    background-color: var(--cor-destaque);
    padding:0 5px;
    border-radius: 10px;
    display: none;
    align-items: center;
    justify-content: space-around;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.barra-pesquisa-mobile.ativar-menu-mobile{
    width: 170px;
}

#pesquisa-mobile{
    width: 100%;
    height: 100px;
    background:0;
    border:0;
    outline: 0;
    padding: 5px 10px;
    color:var(--cor-fonte);
    font-size: 16px;
}

#pesquisa-mobile::placeholder{
    color:var(--cor-fonte);
    font-size: 16px;
}

.barra-pesquisa-mobile > .pesquisa-btn{
    display: none;
    position: absolute;
    right: 50%;
    font-size: 32px;
    padding:3px 10px;
    background-color: var(--cor-destaque);
    border-radius: 20px;
    color:var(--cor-fonte);
    cursor: pointer;
    transform: translateX(50%);
    transition: 0.5s;
}

.barra-pesquisa-mobile.ativar-menu-mobile > .pesquisa-btn{
    right:0;
    border-radius: 10px;
}

/*Barra pesquisa mobile fim*/

#pesquisa-input{
    position: absolute;
    width:100%;
    outline: none;
    font-size:20px;
    padding:0 25px;
    line-height: 50px;
    border-radius: 10px;
    border: 2px solid var(--cor-fonte);
    color:var(--cor-fonte);
    background: transparent;
    transition: 0.3s ease;
    z-index: 2;
}

.texto-flutuante{
    position: absolute;
    top:50%;
    left:5%;
    transform: translateY(-50%);
    font-size: 15px;
    color:var(--cor-fonte);
    background:var(--cor-fundo);
    padding: 0 15px;
    width: 39%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.4s ease;
}

.texto-flutuante > i{
    font-size: 20px;
    transition: all 0.4s ease;
}

#pesquisa-input:focus,
#pesquisa-input:valid{
    color:var(--cor-destaque);
    border: 2px solid var(--cor-destaque)
}

#pesquisa-input:focus + .texto-flutuante,
#pesquisa-input:valid + .texto-flutuante{
    color:var(--cor-destaque);
    height: 30px;
    line-height: 30px;
    transform: translate(-14px,-40px) scale(0.88);
    z-index: 2;
}


#pesquisa-input:invalid:focus:after {
    content: '';
}

/*Barra pesquisa termina aqui*/

.cabecalho .btn-hamburguer{
    width:50px;
    height: 50px;
    background-color: transparent;
    outline: none;
    border:0;
    border-radius: 10px;
    transition: 0.4s;
    position: relative;
    cursor: pointer;
}

.btn-hamburguer .linha{
    width: 70%;
    height: 4px;
    background:var(--cor-fonte);
    margin:6px auto;
    border-radius: 10px;
    transition: 0.4s;
}


.btn-hamburguer.ativar-menu .linha:nth-of-type(1){
    transform: translateY(2px) rotate(45deg);
    background: var(--cor-principal);
}

.btn-hamburguer.ativar-menu .linha:nth-of-type(2){
    width: 0%;
}

.btn-hamburguer.ativar-menu .linha:nth-of-type(3){
    transform: translateY(-18px) rotate(-45deg);
    background: var(--cor-principal);
}
/* botão menu temina aqui */

/* lista menu começa aqui */
/* Estilo do Menu */
.menu .lista-menu {
    position: absolute;
    top: 100%;
    right: -100%;
    background: var(--cor-principal);
    min-width: 200px;
    min-height: 200px;
    padding: 0px 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    opacity: 0;
    visibility: hidden;
    transform: translateX(20px); 
    transition:all 0.8s;
    z-index: 1111;
}

.menu .lista-menu::before {
    content: " ";
    position: absolute;
    top: -10px;
    right: 20px;
    width: 0;
    height: 0;
    opacity: 0;
    background: var(--cor-principal);
    transform: rotate(45deg);
    z-index: 0;
    transition: width 0.8s ease, height 0.8s ease, opacity 0.8s ease-in-out;
}

.menu .lista-menu.ativar-menu {
    right: 0;
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.menu .lista-menu.ativar-menu::before {
    width: 24px;
    height: 24px;
    opacity: 1;
    top: -10px;
}

.menu .lista-menu li {
    display: flex;
    align-items: center;
    list-style: none;
    opacity: 0;
    transform: translateY(10px);
    margin:auto;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.menu .lista-menu.ativar-menu li {
    opacity: 1;
    transform: translateY(0);
}

.menu .lista-menu.ativar-menu li i{
    color:var(--cor-fonte);
    font-size: 20px;
    margin-right: 5px;
    transition: color 0.2s ease-in-out;
}

.menu .lista-menu.ativar-menu li a {
    text-decoration: none;
    color: var(--cor-fonte);
    text-transform: uppercase;
    transition: color 0.2s ease-in-out;
}

.menu .lista-menu.ativar-menu li:hover a, .menu .lista-menu.ativar-menu li:hover i {
    color: var(--cor-fundo);
}
/* fim do estilo menu */
/*FIM CABECALHO*/


.container-principal{
    height: 100vh;
    padding:20px 0px;
}

section{
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

section:last-of-type{
    padding-bottom: 250px;
}

/*Título seção*/
.titulo-secao-box{
    height: 100px;
    padding: 0 20px;
}

.titulo-secao{
    font-size: 50px;
    color: var(--cor-destaque);
    text-shadow:  0 0 20px var(--cor-destaque);
    position: relative;
}

.titulo-secao::after{
    content: attr(data-text);
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    color: var(--cor-destaque);
    filter: blur(25px);
}
.titulo-secao::before{
    content: " ";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background: var(--cor-fundo);
    opacity: .5;
    filter: blur(15px);
}

/*produtos começa aqui*/

.container-principal .produtos{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: space-around;
}

.card{
    height: 500px;
    width: 290px;
    padding:10px 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 4px -1px 7px 0 #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-top{
    display: flex;
    justify-content: space-between;
}

.card-top > i{
    font-size: 22px;
    cursor: pointer;
    transition: all 0.4s;
}

.cor-icon-car{
    color: var(--cor-destaque);
}
.cor-icon-fav{
    color: #ff2828;;
}

.card .imagem{
    width: 180px;
    height: 180px;
    border-radius: 20px;
    display: block;
    margin:0 auto;
}

.card-text{
    width: 100%;
    font-size: 14px;
}

.card-botao-compra > button{
    width: 100%;
    height: 30px;
    border-radius: 30px;
    border:0;
    color:var(--cor-fonte);
    font-size: 20px;
    font-weight: 600;
    background:linear-gradient(45deg, var(--cor-destaque), var(--cor-secundaria), var(--cor-principal));
    backdrop-filter: blur(2px);
    cursor: pointer;
    transition: all 0.4s;
}

.card-botao-compra > button:hover{
    scale: 1.05;
}
/* produtos termina aqui */

/*Notificações aqui*/

.notificacoes{
    position: fixed;
    top:20%;
    right:20px;
    width: 400px;
    height: 80px;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1000;
    transform: translateX(200%);
    transition: all 0.7s ease-in-out;
}
.alert-carrinho{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background:var(--cor-fonte);
    box-shadow: 0 5px 10px #0000007a;
    border-left: 8px solid var(--cor-destaque);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.7s ease-in-out;
    position: absolute;
}

.alert-carrinho.retirado{
    top:0;
}

.alert-carrinho .text{
    line-height: 25px;
}

.alert-carrinho .text h6{
    font-size: 20px;
}
.alert-carrinho .text p{
    font-size: 16px;
}

.alert-carrinho .icon{
    font-size: 30px;
    color:var(--cor-destaque);
}

.notificacoes .progresso{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 5px;
    background:var(--cor-destaque);
    border-bottom-right-radius: 10px;
}

.notificacoes.ativar-notificacao{
    transform: translateX(0%);
    animation: animarSurgimento 2s ease-in-out alternate;
}


@keyframes animarSurgimento {
    0%{
        transform: translate(200%);
    }
    75%{
        transform: translate(-10%);
    }
    100%{
        transform: translate(0);
    }
}

.notificacoes.ativar-notificacao .progresso{
    animation: animarBarra 3.5s ease-in-out forwards;
    animation-delay: 1s;
}

@keyframes animarBarra{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}

/*BARRA MÁGICA AQUI*/
.barra-items{
    position: fixed;
    bottom: 0px;
    width: 100vw;
}

.navegacao-fundo{
    position: relative;
    background:var(--cor-fundo);
    height: 91px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegacao{
    position:relative;
    width:400px;
    height: 60px;
    background:#fff;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow:1px 2px 6px 0px #752ade;
}

.navegacao ul{
    display: flex;
    width: 350px;
}

.navegacao ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
    margin:0 auto;
}

.navegacao ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navegacao ul li a i{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 27px;
    text-align: center;
    color: var(--cor-fundo);
    transition: .5s;
}

.navegacao ul li.barra-ativada a i{
    transform: translateY(-32px);
}

.navegacao ul li a p{
    position: absolute;
    color:var(--cor-secundaria);
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 1px;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s;
}

.navegacao ul li.barra-ativada a p{
    opacity: 1;
    transform: translateY(10px);
}

.navegacao .indicador{
    position: absolute;
    top:-50%;
    width: 70px;
    height: 70px;
    background:var(--cor-destaque);
    border-radius: 50%;
    border:6px solid var(--cor-fundo);
    transition: .6s;
}

.navegacao .indicador::before{
    content: " ";
    position: absolute;
    top:43%;
    left: -22px;
    height: 20px;
    width: 20px;
    background:transparent;
    border-top-right-radius: 20px;
    box-shadow: 0px -8px 0 0 var(--cor-fundo);
}

.navegacao .indicador::after{
    content: " ";
    position: absolute;
    top:43%;
    right: -22px;
    height: 20px;
    width: 20px;
    background:transparent;
    border-top-left-radius: 20px;
    box-shadow: 0px -10px 0 0 var(--cor-fundo);
}

.navegacao ul li.barra-ativada:nth-child(1) ~ .indicador{
    transform: translateX(8px);
}
.navegacao ul li.barra-ativada:nth-child(2) ~ .indicador{
    transform: translateX(95px);
}
.navegacao ul li.barra-ativada:nth-child(3) ~ .indicador{
    transform: translateX(183px);
}
.navegacao ul li.barra-ativada:nth-child(4) ~ .indicador{
    transform: translateX(270px);
}
/*BARRA MÁGICA TERMINA AQUI*/
/*RESPONSIVIDADE*/
@media (width <= 800px) {
    /* CABECALHO COMEÇA AQUI */
    .cabecalho{
        padding: 10px;
    }

    /*Barra pesquisa*/
    .barra-pesquisa{
        display: none;
    }
    .barra-pesquisa-mobile{
        display: flex;
    }
    .barra-pesquisa-mobile > .pesquisa-btn{
        display: block;
    }

    /*Produtos*/
    .container-principal .produtos{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap:70px
    }

    
    .card-top > i{
        font-size: 40px;
    }
    
    .card-text{
        font-size: 16px;
    }

    section{
        overflow-x:hidden;
    }

    .titulo-secao-box{
        height: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .titulo-secao-box .titulo-secao{
        font-size: 37px;
    }


    /*Notificações*/
    .notificacoes{
        top:5%;
        right:-18%;
    }
    .alert-carrinho{
        width: 80%;
        height: 80%;
    }
    .alert-carrinho .text h6{
        font-size: 18px;
    }
    .alert-carrinho .text p{
        font-size: 13px;
    }
    .alert-carrinho .icon{
        font-size: 35px;
    }

}

/*Animação scroll*/
.escondido{
    opacity:0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: 0.8s;
}

.exposto{
    filter: blur(0px);
    transform: translateX(0%);
    opacity: 1;
}

.card:nth-of-type(2){
    transition-delay:0.4s;
}
.card:nth-of-type(3){
    transition-delay:0.7s;
}
.card:nth-of-type(4){
    transition-delay:1s;
}